.name-card-bg{
    background-image: url(../img/andika.jpg);
}
.position-bottomright{
    right: 20px;
    bottom: 28px;
    color: rgba(255,255,255,0.9);
    cursor: pointer;
}
.position-topright{
    top: 20px;
    right: 20px;
}
.quote{
    color: rgba(255,255,255,0.9);
}
.modal{
    background-color: #fff;
    color: #444;
}
.skills-bar{
    background-color: #f1f1f1!important;
}
.skills-bar .skills-80,
.skills-bar .skills-90{
    background-color: seagreen;
    color: #fff;
}
.skills-bar .skills-50,
.skills-bar .skills-70{
    background-color: orange;
    color: #fff;
}
.skills-bar .skills-40{
    background-color: crimson;
    color: #fff;
}